{% extends "layout.html" %}
{% block title %}Applicants and their mentors{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Applicants and their mentors</h1>
<div class=alt-page-content>
  <table>
    <th>Applicant's first</th>
    <th>Application code</th>
    <th>Mentor's name</th>
    {% for element in data %}
    <tr>
      <td>{{ element[0] }}</td>
      <td>{{ element[1] }}</td>
      <td>{{ element[2] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
{% block footer %}
  <div="footer"></div>
{% endblock %}