{% extends "layout.html" %}
{% block title %}All applicants from the beggining of 2016{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>All applicants from the beggining of 2016</h1>
<div class=alt-page-content>
  <table class="page-table">
    <th>Applicant's first name</th>
    <th>Application code</th>
    <th>Creation date</th>
    {% for element in data %}
    <tr>
      <td>{{ element[0] }}</td>
      <td>{{ element[1] }}</td>
      <td>{{ element[2] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}