{% extends "layout.html" %}
{% block title %}Contacts by schools{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Contacts by schools</h1>
<div class=alt-page-content>
  <table class="page-table">
    <th>School</th>
    <th>Mentors' name</th>
    {% for element in data %}
    <tr>
      <td>{{ element[0] }}</td>
      <td>{{ element[1] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
{% block footer %}
  <div="footer"></div>
{% endblock %}