<!doctype html>
<html>

<head>
  {% block head %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  {% endblock %}
  <title>{% block title %} Codecool applicant process {% endblock %}</title>
</head>
<!-- radio button hogy hova akar keresni-->
<body>
  <div id="menu">
  <ul>
  <li><a class="active" href="{{ url_for('main_page') }}">Main</a></li>
  <li><a href="{{ url_for('mentors_and_schools_page') }}">Mentors and schools</a></li>
  <li><a href="{{ url_for('all_school_page') }}">All schools</a></li>
  <li><a href="{{ url_for('mentors_by_country') }}">Mentors per country</a></li>
  <li><a href="{{ url_for('contacts_page') }}">School contacts</a></li>
  <li><a href="{{ url_for('applicants_page') }}">Applicants</a></li>
  <li><a href="{{ url_for('applicants_and_mentors_page') }}">Applicants and mentors</a></li>
</ul>
  <div id="content">{% block content %}
    <h1>Codecool applicant process</h1>
    <h2>Search by name in our database</h2>
    <div id="table-div-main">
      <div id="search-mentor">
         <h3>Search in mentor's database</h3>
      <form method="POST" action="/search-in-mentors">
        <input type="text" name="name_mentors"></textarea>
        <button class="button" type="submit" value="submit">Search</button>
      </form>
      </div>
      <div id="search-applicant">
        <h3>Search in applicant's database</h3>
      <form method="POST" action="/search-in-applicants">
        <input type="text" name="name_applicants"></textarea>
        <button class="button" type="submit" value="submit">Search</button>
      </form>
      </div>
      {% if mentor_data  %}
      <table class="page-table">
        <th>First name</th>
        <th>Last name</th>
        <th>Nick name</th>
        <th>Phone number</th>
        <th>E-mail</th>
        <th>City</th>
        <th>Favourite number</th>
        {% for element in mentor_data %}
      <tr>
        <td>{{ element[1] }}</td>
        <td>{{ element[2] }}</td>
        <td>{{ element[3] }}</td>
        <td>{{ element[4] }}</td>
        <td>{{ element[5] }}</td>
        <td>{{ element[6] }}</td>
        <td>{{ element[7] }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    {% if applicant_data %}      
      <table class="page-table">
        <th>First name</th>
        <th>Last name</th>
        <th>Phone number</th>
        <th>E-mail</th>
        <th>Application code</th>
        {% for element in applicant_data %}
      <tr>
        <td>{{ element[1] }}</td>
        <td>{{ element[2] }}</td>
        <td>{{ element[3] }}</td>
        <td>{{ element[4] }}</td>
        <td>{{ element[5] }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    </div>
    {% endblock %}</div>
  <div id="footer">
    {% block footer %} &copy; Copyright 2017 by <a href="https://codecool.com/">Codecool</a>. {% endblock %}
  </div>
</body>

</html>