body {margin:0;}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DBD9D9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    font-family: Courier New, Courier, monospace; 
    font-size: 90%;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: #4D5053;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #59A6CB;
}


#menu ul #menu-img {
    margin: 13px 15px 10px;
    float: right;
}

#content {
    padding:20px;
    margin-top:30px;
    height: 33em;
    z-index:-1;
}

#content h1 {
    color: #505356;
    font-family: Courier New, Courier, monospace;
}

#content h3 {
    color: black;
    font-family: Courier New, Courier, monospace;
}

.page-table {
    border-collapse: collapse;
    width: 100%;
}

.page-table td {
    text-align: left;
    padding: 8px;
}

.page-table th {
    background-color: #DB4C52;
    color: white;
    text-align: left;
    padding: 8px;
}

.page-table tr:nth-child(even) {
    background-color: #f2f2f2;
    }

#search {
    display: block;
    position:relative;
}

#search input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #DB4C52;
    -webkit-transition: 1s;
    transition: 1s;
    outline: none;

}

#search input[type=text]:focus {
    border: 6px solid #59A6CB;
}

#search-description {
    font-style: italic;
    color: #505356;
    font-family: Courier New, Courier, monospace;
    font-size: 0.8em;
}

.button {
  display: inline-block;
  padding: 15px 25px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #DB4C52;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #9E2222}

.button:active {
  background-color: #59A6CB;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#footer {
    display: block;
    position: inherit;
    margin-bottom: 1em;
}

#footer p {
    text-align: center;
}

#table-div-main {
    display: block;
    margin-top: 2em;
    
}