body {margin:0;}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DB4C52;
    position: fixed;
    top: 0;
    width: 100%;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover:not(.active) {
    background-color: #59A6CB;
}

#menu .active {
    background-color: #59A6CB;
}

#content {
    padding:20px;
    margin-top:30px;
    height:70em;
}

#content h1 {
    color: grey;
}

.page-table {
    border-collapse: collapse;
    width: 100%;
}

.page-table td {
    text-align: left;
    padding: 8px;
}

.page-table th {
    background-color: #DB4C52;
    color: white;
    text-align: left;
    padding: 8px;
}

.page-table tr:nth-child(even) {
    background-color: #f2f2f2;
    }

#search-mentor {
    display: inline-block;
}

#search-applicant {
    display: inline-block;
}

#search-mentor input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #DB4C52;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

}

#search-mentor input[type=text]:focus {
    border: 3px solid #59A6CB;
}


#search-applicant input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #DB4C52;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

}

#search-applicant input[type=text]:focus {
    border: 3px solid #59A6CB;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#table-div-main {
    align: center;
    border: 1px solid black;
}